// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "showKeys": "false",
  "showPlayerLoc": "true",
  "showMouseLoc": "true",
  "playerDisplay": "LargeDots",
  "selfDisplayScale": "2.24",
  "playerDisplayScale": "2.23",
  "showPlayerHeading": "true",
  "mobDisplay": "LargeDots",
  "mobDisplayScale": "2.27",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "3.5",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "waypointIconScale": "1.0",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "3",
  "configVersion": "5.10.3"
}